NEXT_PUBLIC_SUPABASE_URL=https://npvettycuvzfthshbgyt.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_1cETXa5Fs5vEn_Krwm2Wbg_6gHnwXd6
SUPABASE_SERVICE_ROLE_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
NEXT_PUBLIC_SITE_URL=http://localhost:3000
STRIPE_PRICE_SOLO=price_1UL6W86ge2ZP5Q4oNlz01vZz
STRIPE_PRICE_DUO=price_1UL6WD6ge2ZP5Q4oVb3B2kfF
STRIPE_PRICE_TRIO=price_1UL6WF6ge2ZP5Q4oKECgwiaP
STRIPE_PRICE_PAYG=price_1UL6WH6ge2ZP5Q4oQvLyMoJE
